openapi: 3.2.0
info:
  title: AI model Discovery API
  version: wp/v2
  summary: 'Self-describing metadata for the public www.ai-model.jp WordPress REST API: registered content types, taxonomies and post statuses.'
  description: AI model株式会社 publishes no developer portal, no API reference and no API product.
  contact:
    name: AI model株式会社
    url: https://www.ai-model.jp/contact/
    email: info@ai-model.jp
  x-provenance:
    method: derived
    source: https://www.ai-model.jp/wp-json/
    derived: '2026-09-14'
    note: Derived by API Evangelist from the live WordPress REST route discovery document served anonymously at https://www.ai-model.jp/wp-json/ (saved verbatim as openapi/aimodel-content-wp-routes-original.json). Every path, method, parameter and parameter schema comes from that document; every path was verified to return HTTP 200 anonymously on 2026-09-14. Not published by AI model株式会社.
servers:
- url: https://www.ai-model.jp/wp-json
  description: Production
security:
- {}
tags:
- name: Discovery
  description: 'Self-describing metadata: registered content types, taxonomies and post statuses.'
paths:
  /wp/v2/types:
    get:
      operationId: listTypes
      summary: List content types
      description: List the content types exposed anonymously by the public www.ai-model.jp WordPress REST API.
      tags:
      - Discovery
      security:
      - {}
      x-verified:
        checked: '2026-09-14'
        http_status: 200
        authentication: none
      parameters:
      - name: context
        in: query
        required: false
        description: このリクエストが作成されたスコープ。レスポンスに含まれるフィールドはスコープにより異なります。
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/types/{type}:
    get:
      operationId: getType
      summary: Get one content type
      description: Retrieve the registration record for a single content type.
      tags:
      - Discovery
      security:
      - {}
      x-verified:
        checked: '2026-09-14'
        http_status: 200
        authentication: none
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
        description: 投稿タイプの英数字の識別子。
      - name: context
        in: query
        required: false
        description: このリクエストが作成されたスコープ。レスポンスに含まれるフィールドはスコープにより異なります。
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/taxonomies:
    get:
      operationId: listTaxonomies
      summary: List taxonomies
      description: List the taxonomies exposed anonymously by the public www.ai-model.jp WordPress REST API.
      tags:
      - Discovery
      security:
      - {}
      x-verified:
        checked: '2026-09-14'
        http_status: 200
        authentication: none
      parameters:
      - name: context
        in: query
        required: false
        description: このリクエストが作成されたスコープ。レスポンスに含まれるフィールドはスコープにより異なります。
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: type
        in: query
        required: false
        description: 特定の投稿タイプに関連付けられたタクソノミーに結果を制限します。
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/taxonomies/{taxonomy}:
    get:
      operationId: getTaxonomy
      summary: Get one taxonomy
      description: Retrieve the registration record for a single taxonomy.
      tags:
      - Discovery
      security:
      - {}
      x-verified:
        checked: '2026-09-14'
        http_status: 200
        authentication: none
      parameters:
      - name: taxonomy
        in: path
        required: true
        schema:
          type: string
        description: タクソノミーの英数字の識別子。
      - name: context
        in: query
        required: false
        description: このリクエストが作成されたスコープ。レスポンスに含まれるフィールドはスコープにより異なります。
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/statuses:
    get:
      operationId: listStatuses
      summary: List post statuses
      description: List the post statuses exposed anonymously by the public www.ai-model.jp WordPress REST API.
      tags:
      - Discovery
      security:
      - {}
      x-verified:
        checked: '2026-09-14'
        http_status: 200
        authentication: none
      parameters:
      - name: context
        in: query
        required: false
        description: このリクエストが作成されたスコープ。レスポンスに含まれるフィールドはスコープにより異なります。
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/statuses/{status}:
    get:
      operationId: getStatus
      summary: Get one post status
      description: Retrieve a single post status registration record.
      tags:
      - Discovery
      security:
      - {}
      x-verified:
        checked: '2026-09-14'
        http_status: 200
        authentication: none
      parameters:
      - name: status
        in: path
        required: true
        schema:
          type: string
        description: ステータスの英数字の識別子。
      - name: context
        in: query
        required: false
        description: このリクエストが作成されたスコープ。レスポンスに含まれるフィールドはスコープにより異なります。
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
      description: WordPress REST API error envelope.
