openapi: 3.2.0
info:
  title: AI model Content Taxonomy API
  version: wp/v2
  summary: The public, read-only news, pages, media and recruitment content behind www.ai-model.jp.
  description: AI model株式会社 publishes no developer portal, no API reference and no API product.
  contact:
    name: AI model株式会社
    url: https://www.ai-model.jp/contact/
    email: info@ai-model.jp
  x-provenance:
    method: derived
    source: https://www.ai-model.jp/wp-json/
    derived: '2026-09-14'
    note: Derived by API Evangelist from the live WordPress REST route discovery document served anonymously at https://www.ai-model.jp/wp-json/ (saved verbatim as openapi/aimodel-content-wp-routes-original.json). Every path, method, parameter and parameter schema comes from that document; every path was verified to return HTTP 200 anonymously on 2026-09-14. Not published by AI model株式会社.
servers:
- url: https://www.ai-model.jp/wp-json
  description: Production
security:
- {}
tags:
- name: Taxonomy
  description: Categories and tags applied to content.
paths:
  /wp/v2/categories:
    get:
      operationId: listCategories
      summary: List categories
      description: 'List content categories. Returned HTTP 200 anonymously with X-WP-Total: 1 on 2026-09-14.'
      tags:
      - Taxonomy
      security:
      - {}
      x-verified:
        checked: '2026-09-14'
        http_status: 200
        authentication: none
      parameters:
      - name: context
        in: query
        required: false
        description: このリクエストが作成されたスコープ。レスポンスに含まれるフィールドはスコープにより異なります。
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: コレクションの現在のページ。
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: 結果として返される項目の最大数。
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: 文字列に一致するものに結果を限定します。
        schema:
          type: string
      - name: exclude
        in: query
        required: false
        description: 特定の ID を結果から除外します。
        style: form
        explode: false
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        required: false
        description: 特定の ID に結果を限定します。
        style: form
        explode: false
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: order
        in: query
        required: false
        description: 属性で昇順または降順に並べ替えます。
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: orderby
        in: query
        required: false
        description: タームの属性でコレクションを並べ替えます。
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
      - name: hide_empty
        in: query
        required: false
        description: どの投稿にも割り当てられていないタームを非表示にするかどうか。
        schema:
          type: boolean
          default: false
      - name: parent
        in: query
        required: false
        description: 特定の親に割り当てられたタームに結果を限定します。
        schema:
          type: integer
      - name: post
        in: query
        required: false
        description: 特定の投稿に割り当てられたタームに結果を限定します。
        schema:
          type: integer
          default: null
      - name: slug
        in: query
        required: false
        description: 一つ以上の特定のスラッグを持つタームに結果を限定します。
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
          headers:
            X-WP-Total:
              description: Total number of matching records.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/categories/{id}:
    get:
      operationId: getCategory
      summary: Get one category
      description: Retrieve a single category by its numeric term id.
      tags:
      - Taxonomy
      security:
      - {}
      x-verified:
        checked: '2026-09-14'
        http_status: 200
        authentication: none
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: タームの一意識別子。
      - name: context
        in: query
        required: false
        description: このリクエストが作成されたスコープ。レスポンスに含まれるフィールドはスコープにより異なります。
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
      description: WordPress REST API error envelope.
